body {
	background-color: #f2f2f2;
	font-family: 'Brygada 1918', serif;
}

@media (max-width: 768px) {
	.hideOverflowOnMobile {
		overflow-x: hidden;
	}
}

#landing {
	background-image: url(imgs/122070680_hd.png);
	background-size: cover;
	background-position: center;
}


.navbar-collapse {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

#main-navbar.navbar {
	/* background-color: #8d8d8d8a; */
	font-size: 1.3rem;
	padding: 0rem 1rem;
	text-transform: capitalize;
}

#brand-logo {
	height: 3rem;
	margin: 1rem 0rem;
}

#nav-items a.navbar-brand {
	font-size: 2rem;
	text-transform: lowercase;
}

#nav-items a.navbar-brand:hover {
	color: #D47D16;
}

#main-navbar a {
	color: #820d00dc;
}

#main-navbar a:hover,
#main-navbar a:focus {
	text-shadow: 0px 4px 6px #D47D16;
}

#fb a:hover,
#fb a:focus {
	color: #1877f2;
	text-shadow: none;
}

#insta a:hover,
#insta a:focus {
	color: orangered;
	text-shadow: none;
}

/* for not changing the color when the dropmenu item is clicked */
.dropdown-menu li a.dropdown-item {
	background-color: initial;
}

.scrolled {
	background: #F2F2F2;
	transition: background 500ms;
}

/* mobile menu */

button.navbar-toggler {
	color: #820d00dc;
	margin-top: 1rem;
}

.mobilemenu {
	background-color: #F2F2F2;
	/* when mobile menu button is clicked */
}

@media (max-width:575px) {
	.navbar-collapse {
		display: flex;
		justify-content: left;
		text-align: left;
	}
}




/* landind text */

#landing-text {
	text-align: center;
	color: #820d00dc;
	/* full view */
	padding-top: 9.5rem;
	padding-bottom: 6.8rem;
	text-shadow: 0px 4px 6px #9e9e9edc;
}

@media (max-width:1000px) {
	#landing-text {
		padding-bottom: 4rem;
	}
}

h1#landing-h1 {
	font-size: 5rem;
}

p#landing-paragraph {
	font-size: 1.5rem;
}

#work-time ul {
	/* max-width: 30%; */
	margin-top: 4rem;
	text-shadow: 0px 4px 6px #9e9e9edc;
	list-style: none;
	position: relative;
	left: -1.2rem;
}

#work-time ul li a {
	text-decoration-line: none;
	color: #820d00dc;
}

#work-time ul li a:hover,
#work-time ul li a:focus {
	text-decoration-line: underline;
}

#scrollButton {
	position: fixed;
	right: 2rem;
	bottom: 1rem;
	color: rgb(245, 245, 245);
	font-size: 1.8rem;
	display: none;
}

@media (max-width:991px) {
	#scrollButton {
		right: 2.5rem;
	}
}


/* headings */

#about-h,
#services-h,
#contact-h {
	text-align: center;
	margin-bottom: 1.5rem;
	padding-bottom: 0.5rem;
	font-size: 2.5rem;
	text-shadow: none;
	color: #D47D16;
	border-bottom: 2px solid #D47D16;
	width: 40%;
	text-transform: capitalize;
}

@media (max-width:991px) {

	#services-h,
	#about-h,
	#contact-h {
		width: 80%;
		margin-top: 1.5rem;
	}
}



/* about */

#about {
	padding-top: 1.2rem;
	padding-bottom: 2.5rem;
	background-color: #F2F2F2;
}

#about-text {
	background-color: #820E00;
	color: whitesmoke;
	padding: 1.45rem;
	font-size: 1.2rem;
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

/* slides */
#img-about {
	max-height: 40rem;
	/* object-fit: scale-down; */
}

/* slides control buttons */
.carousel-control-next,
.carousel-control-prev,
.carousel-control-next:focus,
.carousel-control-prev:focus {
	opacity: 0;
	max-width: 30%;
}

#carousel-about:hover .carousel-control-next,
#carousel-about:hover .carousel-control-prev {
	opacity: 0.7;
}

@media (max-width: 991px) {
	#about-text {
		margin-top: 1.5rem;
	}

	/* slides */
	#img-about {
		height: 30rem;
		/* object-fit: scale-down; */
	}

	/* slides button */
	.carousel-control-next,
	.carousel-control-prev {
		opacity: 0;
		width: 30%;
	}

	#carousel-about:hover .carousel-control-next,
	#carousel-about:hover .carousel-control-prevr {
		opacity: 0;
	}
}


/* services */

#services {
	padding-top: 1.5rem;
	padding-bottom: 2.5rem;
	text-shadow: 0px 4px 6px #9e9e9edc;
	color: #820E00;
}

/* buttons style for services */
#services a.btn {
	background-color: #DD7631;
	color: whitesmoke;
	margin-top: 2rem;
	border: 3px solid #DD7631;
	letter-spacing: 1px;
	transition: 0.2s;
}

#services a.btn:hover,
#services a.btn:focus {
	background-color: whitesmoke;
	color: #DD7631;
	border: 3px solid #DD7631;
	letter-spacing: 2px;
}
/* end */

#face {
	margin-top: 1.2rem;
}

#body,
#restoration {
	margin-top: 4.5rem;
}

#services-img {
	border-radius: 20%;
}

ul#face-list li,
ul#body-list li,
ul#restoration-list li {
	font-size: 1.1rem;
	list-style-type: none;
	position: relative;
	left: -1rem;
}

ul#face-list li:before,
ul#body-list li:before,
ul#restoration-list li:before {
	content: '✓';
	color: #D47D16;
}




/* contact */

#contact {
	background: url(imgs/121439122_hd_2.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 2rem;
	color: #820d00dc;
	text-shadow: 0px 4px 6px #9e9e9edc;
}

ul#contact-list {
	list-style-type: none;
	line-height: 1.7rem;
	font-size: 1.1rem;
	background-color: #f2f2f2;
	border-radius: 20%;
}

ul#contact-list li a {
	text-decoration-line: none;
	color: #820d00dc;
}

ul#contact-list li a:hover,
ul#contact-list li a:focus {
	text-decoration-line: underline;
}

#map {
	position: relative;
	padding-bottom: 75%;
	/* This is the aspect ratio */
	height: 0;
	overflow: hidden;
	margin-bottom: 3.7rem;
}

.map iframe {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

@media (max-width:991px) {
	#contact {
		margin-top: 0rem;
	}
}

@media (max-width:1199px) {
	ul#contact-list {
		margin-bottom: 4rem;
		line-height: 2.2rem;
	}

	#map {
		margin-bottom: 2rem;
	}
}


/* Footer */
#footer-basic-centered {
	background-color: #820E00;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding-top: 0.7rem;
	margin-bottom: 0;
	color: whitesmoke;
	padding: 1.45rem;
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

#footer-basic-centered .footer-company-motto {
	/* color: #8d9093; */
	font-size: 1.3rem;
	margin: 0;
	padding: 0;
}

#footer-basic-centered .footer-company-name {
	/* color: #8f9296; */
	font-size: 1.2rem;
	padding-top: 0.2rem;
	margin-top: 0;
	margin-bottom: 0;
}

#footer-basic-centered .footer-company-name span {
	font-size: 1.3rem;
}

#footer-basic-centered #footer-social {
	padding-top: 0.2rem;
	margin-bottom: 0.7rem;
	font-size: 1.4rem;
}

#footer-basic-centered #footer-social span a {
	padding: 0.2rem;
	margin: 0.2rem;
	color: whitesmoke;
}

#footer-basic-centered #footer-social span#insta a:hover,
#footer-basic-centered #footer-social span#insta a:focus {
	color: orangered;
}

#footer-basic-centered #footer-social span#fb a:hover,
#footer-basic-centered #footer-social span#fb a:focus {
	color: #1877f2;
}

#footer-basic-centered .developed-by,
.developed-by a {
	text-decoration: none;
	color: whitesmoke;
	font-size: 1rem;
}

.developed-by a:hover,
.developed-by a:focus {
	text-decoration: underline;
}

/* End of footer */